{% extends "base.html" %}

{% block content %}

{{ order.order_id }} -- {{ order.cart }}

{% if not billing_profile %}


<div class="row text-center">
<div class='col-12 col-md-6'>
	Login
	{% include 'accounts/snippets/form.html' with form=loginform next=request.build_absolute_uri %}
</div>
<div class='col-12 col-md-6'>
	Continue as Guest
	{% url "guest" as guest_register_url %}
	{% include 'accounts/snippets/form.html' with form=guestform next=request.build_absolute_uri action_url=guest_register_url %}
</div>
</div>

{% else %}
	
	{% if not order.shipping_address %}
	<div class="row">
	<div class="col-6">
			<p class="lead">Shipping Address</p>
			<hr/>

			{% url "checkout_address" as checkout_address %}
		{% include 'addresses/form.html' with form=address_form next=request.build_absolute_uri action_url=checkout_address address_type='shipping' %}
	</div>
		<div class="col-6">
			{% url 'checkout_address_reuse' as checkout_address_reuse %}
			{% include 'addresses/prev_addresses.html' with address_=address_ next=request.build_absolute_uri address_type='shipping' action_url=checkout_address_reuse %}
			
		</div>
	</div>
	

	{% elif not order.billing_address %}

		<div class="row">
		<div class="col-md-6 mx-auto col-12">
				<p class="lead">Billing Address</p>
				<hr/>
				{% url "checkout_address" as checkout_address %}
			{% include 'addresses/form.html' with form=address_form next=request.build_absolute_uri action_url=checkout_address address_type='billing' %}

			<div class="col-6">
				{% url 'checkout_address_reuse' as checkout_address_reuse %}
				{% include 'addresses/prev_addresses.html' with address_=address_ next=request.build_absolute_uri address_type='billing' action_url=checkout_address_reuse %}
			</div>

		</div>
		</div>

	{% else %}

		<h1>Complete Order</h1>
		<p>Cart Items: {% for product in order.cart.products.all %}{{ product }}{% if not forloop.last %},{% endif %}{% endfor %}</p>
		<p>Shipping Address: {{ order.shipping_address.get_address }}</p>
		<p>Billing Address: {{ order.billing_address.get_address }}</p>
		<p>Cart is {{ order.cart.total }}</p>
		<p>Shipping is {{ order.shipping_total }}</p>
		<p>Total is {{ order.total }}</p>
		<form class="form" method="POST" action="">{% csrf_token %}
			<button type="submit">Checkout</button>
		</form>

	{% endif %}	

{% endif %}

{% endblock %}